/* Basic-portfolio styling */

body {
    color: #777777;
}

.header {
    background-color: white;
    border-bottom: 2px solid #777777;
    height: 85px;
}


#name {
    background-color: #62a8a4;
    width: 200px;
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 210px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; 
}

#menu {
    text-align: right;
    padding-right: 250px;
    padding-top: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}


.box-middle {
    clear: both;
    overflow: auto;
    padding-bottom: 50px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(../images/texturetastic_gra_@2X.png);
}

#about-me-box {
    background-color: white;
    width: 960px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    padding-top: 10px;
}

#about-me-line {
    height: 0px;
    border-bottom: 3px solid #dddddd;
    width: 900px;
    padding-top: 10px;
}

#about-me-header {
    text-align: left;
    color: #62a8a4;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px; 
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}

#img {
    float: left;
    padding-right: 20px;
    padding-top: 20px; 
    padding-left: 20px;   
}

#biography {
    line-height: 2.0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
#form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

#contact-form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: 1px solid #dddddd;
    font-size: 16px;
}

#message-form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 200px;
    border: 1px solid #dddddd;
}

#submit-btn {
    background-color: #62a8a4;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;

}


.project-tile {
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

#proj-1 {
    background-image: url(../images/placeholder.png);
    float: left;
}

#proj-2 {
    background-image: url(../images/placeholder.png);
    float: left;
}

.overflow {
    clear: both;
}

#proj-3 {
    background-image: url(../images/placeholder.png);
}

#proj-4 {
    background-image: url(../images/placeholder.png);
    float: left;
}

#proj-5 {
    background-image: url(../images/placeholder.png);
}

#footer-band-green {
    background-color: #4aaaa5;
    height: 10px;
    position: relative;
    bottom: 1px;
}

#footer-copyright {
    background-color:#666666;
    font-size: 8px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 2px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
}